:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --block-color: #2f303a;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  color: #212121;
  background-color: #ffffff;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.studio-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  display: block;
  margin: auto;
  transition-property: background;
  transition-duration: 250ms;
}

.studio-button:hover, .studio-button:focus {
  background-color: #188ce8;
}

.footer-mail-button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 29px;
  border: none;
  min-width: 200px;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;
  margin: 0 auto;
  margin-top: 20px;
}

.footer-mail-button:hover, .footer-mail-button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .footer-mail-button {
    margin-right: 280px;
    margin-left: 280px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mail-button {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
}

.modal-form-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 55px;
  display: block;
  margin: auto;
  border: none;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;
}

.modal-form-button:hover, .modal-form-button:focus {
  background-color: #188ce8;
}

.logo-header,
.logo-footer {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo-header,
  .logo-footer {
    margin-right: 90px;
  }
}

.logo-theme-dark {
  color: #fff;
}

.logo-theme-light {
  color: #000;
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-header {
    font-size: 26px;
    line-height: 1.19;
  }
}

.small-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-list__title {
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__title {
    text-align: left;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  width: 370px;
  height: 70px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  overflow: auto;
}

.title-footer-icon {
  font-style: normal;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-mail-title {
  color: #ffffff;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .social-list {
    justify-content: space-between;
  }
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition-property: background;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .social-list-item:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .social-list-item:not(:last-child) {
    margin-right: 0;
  }
}

.social-list-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;
}

.social-list-link:hover > .social-list-icon,
.social-list-link:focus > .social-list-icon {
  fill: #ffffff;
}

.footer-icon-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition-property: background;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;
}

.footer-list-link:hover, .footer-list-link:focus {
  background-color: var(--accent-color);
}

.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.portfolio-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition-property: background, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.port-button-list:not(:last-child) {
  margin-right: 9px;
}

.port-button-list:nth-child(-n + 3) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .port-button-list:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .port-button-list:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: auto;
  background-color: #fff;
  padding: 40px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
}

.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-field {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input-container {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  bottom: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.modal-form-message:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-message::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 32px;
}

.modal-form-checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}

@media screen and (min-width: 1200px) {
  .modal-form-checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url("../img/checked-icon.svg");
  border: none;
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 1px solid #212121;
}

.modal-form-link {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal-form-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-menu-button {
  background-color: #fff;
  border: none;
  padding: 0;
}

.header-menu-button:hover, .header-menu-button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-menu-button {
    display: none;
  }
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;
}

.menu__link.active::after {
  position: absolute;
  content: '';
  background-color: var(--accent-color);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
}

.header-container {
  justify-content: space-between;
}

.menu-contacts {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;
}

.menu-contacts:hover, .menu-contacts:focus {
  color: var(--accent-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-contacts {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .menu-contacts {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__list:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.menu-contacts__mail-icon {
  margin-right: 10px;
  align-items: center;
}

.menu-contacts__mail-icon:hover, .menu-contacts__mail-icon:focus {
  fill: var(--accent-color);
}

.menu-contacts__tel-icon {
  margin-right: 9px;
  align-items: center;
}

.menu-contacts__tel-icon:hover, .menu-contacts__tel-icon:focus {
  fill: #2196f3;
}

.menu,
.header-contacts {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: block;
    margin-left: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
  }
}

.mobile-menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-link:hover, .mobile-menu-link:focus {
  color: var(--accent-color);
}

.mobile-contacts-list {
  margin-bottom: 64px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-contacts:hover, .mobile-contacts:focus {
  color: var(--accent-color);
}

.mobile-vers-menu {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  width: 100vw;
  top: 0;
  padding: 48px 0;
  z-index: 100;
  overflow: auto;
  transform: translateX(100%);
  transition: transform 1500ms linear;
}

.mobile-vers-menu.is-open {
  transform: translateX(0%);
}

.mob-menu-container {
  position: relative;
  width: 430px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 400px;
}

@media screen and (min-width: 768px) {
  .mob-menu-container {
    display: none;
  }
}

.mobile-menu-button {
  position: absolute;
  top: -21px;
  right: 15px;
  background-color: #fff;
  border: none;
}

.mobile-menu-button:hover, .mobile-menu-button:focus {
  fill: var(--accent-color);
}

.mob-tel {
  font-size: 34px;
  line-height: 40px;
}

.mob-mail {
  font-size: 24px;
  line-height: 28px;
}

.mob-social-list {
  display: flex;
}

.mob-social-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-block {
  margin-top: auto;
}

.mob-social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mob-social-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.service {
  background-size: cover;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header-mobile.jpg");
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .service {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header-mobile-@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .service {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .service {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header-tablet-@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .service {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header-desktop.jpg");
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .service {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header-desktop-@2x.jpg");
  }
}

/* @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .service {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/img/header-mobile-@2x.jpg');
  }
} */
.service-header {
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  line-height: 1.61;
  max-width: 360px;
}

@media screen and (min-width: 768px) {
  .service-header {
    font-size: 26px;
    line-height: 1.61;
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .service-header {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.benefits-list {
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 480px) {
  .benefits-list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.benefits-list__benefit {
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .benefits-list__benefit {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list__benefit {
    max-width: 350px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__benefit {
    max-width: 270px;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
  }
}

.benefits-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

.benefits-list__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-us {
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .about-us {
    display: flex;
  }
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.img-about-us {
  margin-left: 30px;
  max-width: 370px;
  position: relative;
}

.title-about-us {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.our-team {
  background-color: #f5f4fa;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.title-our-team {
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .title-our-team {
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .title-our-team {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team-list {
  margin-left: -30px;
}

@media screen and (min-width: 480px) {
  .team-list {
    display: block;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.staff-list {
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .staff-list {
    max-width: 450px;
    max-height: 622px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .staff-list {
    max-width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .staff-list {
    max-width: 270px;
  }
}

.img-teamcard {
  width: 100%;
  height: 100%;
}

.shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.co-worker {
  text-align: center;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .co-worker {
    padding: 30px 70px;
  }
}

@media screen and (min-width: 1200px) {
  .co-worker {
    padding: 30px 32px;
  }
}

.name-our-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.profession-our-team {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-list-item {
  margin-bottom: 30px;
  flex-basis: calc(100% / 2 - 30px);
  max-width: 210px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .client-list-item {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list-item {
    display: flex;
    max-width: 170px;
  }
}

.title-clients {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-size: 28px;
  line-height: 1.83;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title-clients {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients-list {
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-left: -30px;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}

.clients-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: border, fill;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;
}

.clients-menu:hover, .clients-menu:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
  fill: var(--accent-color);
}

.footer {
  background-color: var(--block-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list:not(:first-child) {
  margin-top: 9px;
}

.adress-block {
  margin-top: 20px;
}

.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;
}

.footer-address:hover, .footer-address:focus {
  color: var(--accent-color);
}

.footer-mail {
  padding-bottom: 9px;
}

.footer-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;
}

.footer-contacts:hover, .footer-contacts:focus {
  color: var(--accent-color);
}

.footer-align {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-align {
    text-align: left;
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-flex {
    display: flex;
    padding-left: 89px;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    padding-left: 0;
  }
}

.footer-icon-container {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-icon-container {
    padding-right: 0;
    padding-left: 0px;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-icon-container {
    margin-left: 70px;
    margin-right: 92px;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.footer-mail-input-container {
  display: block;
  flex-wrap: wrap;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-mail-input-container {
    margin-top: 0;
  }
}

.mail-span {
  display: block;
  align-items: baseline;
}

@media screen and (min-width: 1200px) {
  .mail-span {
    display: flex;
  }
}

.footer-mail-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  background-color: #2f303a;
  padding-left: 15px;
  margin-right: 12px;
  color: #fff;
}

.footer-mail-input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-mail-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mail-input {
    width: 358px;
  }
}

.footer-contacts-container {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-contacts-container {
    text-align: left;
  }
}

.footer-send-icon {
  align-items: center;
  margin-left: 10px;
}

.port-gallery-button {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .port-gallery-button {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.port-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .port-nav {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .port-nav {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.portfolio-img-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.portfolio-img-signature {
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #757575;
}

.port-gallery-list {
  display: block;
  flex-wrap: nowrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .port-gallery-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery-shadow {
  display: block;
}

.gallery-shadow:hover, .gallery-shadow:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.port-img-description {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

@media screen and (min-width: 768px) {
  .port-bottom {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .port-bottom {
    padding-bottom: 20px;
  }
}

.portfolio-img-list {
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-img-list {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-img-list {
    max-width: 370px;
    max-height: 404px;
  }
}

.port-img {
  width: 100%;
  height: 100%;
}

.port-overlay {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-hover-window {
  position: relative;
  overflow: hidden;
}

.gallery-shadow:hover .port-overlay,
.gallery-shadow:focus .port-overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */