.about-us {
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.img-about-us {
  margin-left: 30px;
  max-width: 370px;
  position: relative;
}

.title-about-us {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
