.header-container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-menu-button {
  background-color: #fff;
  border: none;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0;
  display: block;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;

  &.active::after {
    position: absolute;
    content: '';
    background-color: var(--accent-color);
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
}

.nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
}

.header-container {
  justify-content: space-between;
}

.menu-contacts {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-right: 10px;
  fill: currentColor;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;

  &:hover,
  &:focus {
    color: var(--accent-color);
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-contacts__list:not(:last-child) {
  margin-right: 50px;
}

.menu-contacts__mail-icon {
  margin-right: 10px;
  align-items: center;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-contacts__tel-icon {
  margin-right: 9px;
  align-items: center;

  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

.menu,
.header-contacts {
  display: flex;
  align-items: center;
}

.menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 80px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.mobile-vers-menu {
  display: block;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-contacts-lis {
  margin-bottom: 64px;
}

.mobile-contacts-item:not(last-child) {
  margin-bottom: 32px;
}

.mobile-contacts {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-vers-menu {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  width: 100vw;
  top: 0;
  padding: 48px 0;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.mob-menu-container {
  position: relative;
  width: 430px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 250px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-button {
  position: absolute;
  top: -21px;
  right: 15px;
  background-color: #fff;
  border: none;
}

.mob-tel {
  font-size: 34px;
  line-height: 40px;
}

.mob-mail {
  font-size: 24px;
  line-height: 28px;
}

.mob-social-list {
  display: flex;
}

.mob-social-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-block {
  position: absolute;
  bottom: 0;
}

.mob-social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mob-social-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}
