.logo-header,
.logo-footer {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    margin-right: 90px;
  }
}

.logo-theme-dark {
  color: #fff;
}

.logo-theme-light {
  color: #000;
}

.logo-header {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
