.studio-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  display: block;
  margin: auto;

  transition-property: background;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.footer-mail-button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 29px;
  border: none;
  min-width: 200px;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;

  margin-right: 140px;
  margin-left: 140px;
  margin-top: 20px;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }

  @media screen and (min-width: 768px) {
    margin-right: 280px;
    margin-left: 280px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
}

.modal-form-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 55px;
  display: block;
  margin: auto;
  border: none;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 70ms;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
